.page {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header, .footer {
    position: relative;
    height: 100vh;
    padding: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 55px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-subtitle {
    margin-block-end: 58px;
}

.decorated-zone::before {
    content: ' ';
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    border-inline-start: 1px solid var(--decoration-color);
    border-inline-end: 0;
    border-block-start: 0;
    border-block-end: 1px solid var(--decoration-color);
}

.decorated-zone::after {
    content: ' ';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-inline-start: 0;
    border-inline-end: 1px solid var(--decoration-color);
    border-block-start: 1px solid var(--decoration-color);
    border-block-end: 0;
}

.header-decoration {
    position: absolute;
    top: 10px;
    right: 38px;
    display: var(--is-show-decoration);
    color: var(--accent-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
}

.header-decoration:after {
    content: '';
    position: absolute;
    top: 9px;
    left: 42px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px var(--accent-color);
    background-color: var(--accent-color);
}

.header__theme-menu {
    position: absolute;
    top: 74px;
    right: 10px;
    inline-size: fit-content;
}

.header__theme-menu-button {
    border: none;
    padding: 3px 12px;
    color: var(--nav-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    text-transform: lowercase;
    background: transparent;
}

.header__theme-menu-button:focus-within {
    border-block-end: 1px solid currentColor;
    outline: none;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
    border: 1px solid var(--nav-color);
    outline: none;
}

.title {
    color: var(--header-title-color);
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    letter-spacing: 0;
    text-shadow: 4px 4px 0 var(--accent-color);
}

.section__ahead, .section__cards, .section__container, .cards__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 21px;
}
.cards__list {
    row-gap: 20.6px;
}


.section-title, .card-title, .card-subtitle {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0;
}

.section-title {
    color: var(--aside-title-color);
}

.card-description {
    color: var(--pink-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 0;

    a {
        text-decoration: none;
        text-shadow: 2px 2px 0 var(--accent-color);
    }

    a:hover {
        border-block-end: 1px solid currentColor;
        outline: none;
    }

    a:focus-within {
        border: 1px solid currentColor;
        outline: none;
    }
}

.card-title, .section-heading {
    margin-block-end: 10px;
    color: var(--accent-text-color);
}

.section-heading {
    margin-block-end: 0;
}

.card-subtitle {
    margin-block-end: 10px;
    color: var(--accent-text-color);
    font-weight: 400;
}

.section__images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.footer {
    display: flex;
    align-items: center;

    span {
        height: fit-content;
    }
}

@media (width >= 768px) {
    .header, .footer {
        padding: 20px;
    }

    .header {
        gap: 160px;
    }

    .header-decoration {
        top: 21px;
        right: 46px;
    }

    .header__theme-menu {
        top: 192px;
        right: 20px;
    }

    .header-subtitle {
        margin-inline-start: auto;
        margin-block-end: 164px;
        inline-size: 364px;
    }

    .title {
        margin-inline-start: -20px;
    }

    .decorated-zone::before {
        bottom: 20px;
        left: 20px;
    }

    .decorated-zone::after {
        top: 20px;
        right: 20px;
    }

    .section-title {
        inline-size: 236px;
    }

    .section__ahead {
        grid-template-columns: max-content 1fr;
        column-gap: 20px;
    }

    .section__images {
        gap: 21px;
        margin-block-start: -4px;
    }

    .section__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .section__grid-image:nth-child(1) {
        grid-column-start: span 2;
    }
    .section__grid-image:nth-child(2) {
        grid-row-start: span 2;
    }
    .section__grid-image:nth-child(3) {
        grid-row-start: span 2;
    }
    .section__grid-image:nth-child(4) {
        grid-row-start: span 1;
    }
    .section__grid-image:nth-child(5) {
        grid-column-start: span 2;
    }

    .section__ahead, .section__cards, .section__container, .cards__list {
        row-gap: 20px;
    }

    .card-subtitle {
        margin-block-end: 11px;
    }

    .footer {
        span {
            margin: auto;
        }
    }
}

@media (width >= 1024px) {
    .title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header {
        gap: 114px;
    }

    .header__theme-menu-list {
        flex-direction: unset;
    }

    .header__theme-menu {
        top: 20px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .header-subtitle {
        margin-block-end: 115px;
        inline-size: 491px;
    }

    .section-title {
        inline-size: 315px;
    }

    .cards .cards__list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
}
