.page {
    background-image: var(--background-image);
    background-color: var(--background-spare);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header, .footer {
    height: 100vh;
    min-block-size: 668px;
    padding: 10px;
    position: relative;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 55px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-subtitle {
    height: fit-content;
    margin-block-end: 56px;
    justify-self: end;
}

.decorated-zone::before {
    content: ' ';
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    border-inline-start: 1px solid var(--decoration-color);
    border-inline-end: 0;
    border-block-start: 0;
    border-block-end: 1px solid var(--decoration-color);
}

.decorated-zone::after {
    content: ' ';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-inline-start: 0;
    border-inline-end: 1px solid var(--decoration-color);
    border-block-start: 1px solid var(--decoration-color);
    border-block-end: 0;
}

.header-decoration {
    position: absolute;
    top: 10px;
    right: 38px;
    display: var(--is-show-decoration);
    color: var(--accent-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
}

.header-decoration:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 44px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px var(--accent-color);
    background-color: var(--accent-color);
}

.header__theme-menu {
    margin-block-start: 65px;
    width: fit-content;
    justify-self: end;
}

.header__theme-menu-button {
    padding: 3px 13px;
    border: none;
    color: var(--nav-button-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    text-transform: lowercase;
    background: transparent;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid rgb(var(--nav-color));
    outline: none;
}

.header__theme-menu-button:hover {
    outline: 1px solid rgba(var(--nav-color), 0.4);
}

.header__theme-menu-button_active {
    outline: 1px solid rgb(var(--nav-color));
}

.header__theme-menu-button_active:hover {
    outline: 1px solid rgb(var(--nav-color));
}

.title, .footer-title {
    color: var(--header-title-color);
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    letter-spacing: 0;
    text-shadow: 4px 4px 0 var(--accent-color);
    justify-self: center;
}

.content-section, .section__container, .cards__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.cards__list {
    row-gap: 20px;
}

.section__container {
    row-gap: 19px;
}

.cards__list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-section:has(.section__grid) {
    row-gap: 10px;
}

.section-title, .card-title, .card-subtitle {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 0;
}

.section-title {
    color: var(--aside-title-color);
}

.card-description {
    color: var(--pink-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 0;

    a {
        text-decoration: none;
        text-shadow: 2px 2px 0 var(--accent-color);
    }

    a:hover {
        border-block-end: 1px solid currentColor;
        outline: none;
    }

    a:focus-within {
        border: 1px solid currentColor;
        outline: none;
    }
}

.card-title, .section-heading {
    color: var(--accent-text-color);
}

.card-subtitle {
    color: var(--accent-text-color);
    font-weight: 400;
}

.section__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width >= 768px) {
    .header, .footer {
        padding: 20px;
    }

    .header {
        gap: 30px;
        padding: 50px 20px;
    }

    .header-decoration {
        top: 20px;
        right: 48px;
    }

    .header__theme-menu {
        margin-block-start: 141px;
    }


    .header-subtitle {
        margin-block-end: 134px;
        max-width: 364px;
        width: 100%;
        align-self: end;
    }

    .title {
        margin-inline-start: -20px;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        justify-self: left;
        align-self: center;
    }

    .decorated-zone::before {
        bottom: 20px;
        left: 20px;
    }

    .decorated-zone::after {
        top: 20px;
        right: 20px;
    }

    .section-title {
        max-width: 236px;
        width: 100%;
    }

    .content-section:has(.section__container) {
        grid-template-columns: max-content 1fr;
        column-gap: 20px;
    }

    .content-section:has(.cards), .content-section:has(.section__grid) {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .section__container {
        row-gap: 21px;
    }

    .section__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .section__grid-image:nth-child(1) {
        grid-column-start: span 2;
    }
    .section__grid-image:nth-child(2) {
        grid-row-start: span 2;
    }
    .section__grid-image:nth-child(3) {
        grid-row-start: span 2;
    }
    .section__grid-image:nth-child(4) {
        grid-row-start: span 1;
    }
    .section__grid-image:nth-child(5) {
        grid-column-start: span 2;
    }

    .cards__list {
        row-gap: 21px;
    }

    .cards__list-item {
        gap: 9px;
    }

    .footer-title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

@media (width >= 1024px) {
    .header {
        padding: 20px;
    }

    .header-decoration {
        top: 20px;
        right: 48px;
    }

    .header-subtitle {
        align-self: start;
        margin-block-end: 0;
        margin-block-start: 38px;
        max-width: 491px;
    }

    .header__theme-menu {
        margin-block-start: 0;
        justify-self: center;
    }

    .header__theme-menu-list {
        flex-direction: unset;
        gap: 10px;
    }

    .section-title {
        max-width: 315px;
    }

    .cards .cards__list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
}
